
@media  screen and (min-width:960px)  {

    .imgStyle {
        display: none !important;
    }
    .s2Cardcol {
      column-count: 4;
  
    }

}
@media  screen and (min-width:600px)  {

  .imgStyle {
      display: none !important;
  }
  .s2Cardcol {
    column-count: 4;

  }
  .s1subPragraph{
    display: none;
  }

}

@media (max-width:960px)  {

  *{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
  }
.s1Pragraph{
  display: none;
}

  .tabStyle{
    position: sticky;
  }
  .listAdress{
    display:block !important;
  }
  .advert {
    display: none;
  }

}
@media (max-width:800px)  {

  .s2Cardcol {
    column-count: 2;

  }
}

@media (max-width:600px)  {

  .s1subPragraph0{
    display: none;
  }

  .s2Cardcol {
    column-count: 1;

  }
  .s1title{
    font-size: small;
  }

}

@media (max-width:760px)  {

  *{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
  }
}

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px; 
  overflow-x: hidden;}

h1,
h2,
h3,
h4,
h5,
h6
 { 
  cursor: pointer;
  letter-spacing: .2px;
  color: black;
  line-height: 25px;
  font-weight: 700;
  font-family: 'PeriodicoDisplay-Bd';
  font-size:18px;
}
p {
  letter-spacing: .3px;
  color: black;
  line-height: 25px;
  font-family: 'PeriodicoDisplay-Bd';
  font-size:18px;
 }

img:hover {

    transform: scale(1.1); 

}
img{
  transition: transform 0.5s;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.hovering:hover{
   
  background: #B8860B;
  cursor: pointer;
}

.hoveringTitle:hover{
   
  color: #B8860B;
  cursor: pointer;
}


