*,*::after,*::before{
  box-sizing: border-box;
  font-family: 'roboto';
  font-weight: 9000;
  line-height: 1.6;
  font-size: 18px; 
  
}
*{
  line-height: 1.6;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 18px; 
}
body {
  line-height: 1.6;
  font-weight: 9000;
  box-sizing: border-box;
  font-family: 'roboto';
  font-size: 18px; 
  overflow-x: hidden;}

h1,
h2,
h3,
h4,
h5,
h6
 { 
  line-height: 1.6;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-family: 'roboto';
  font-size:18px;
}
p {
  line-height: 1.6;
  letter-spacing: .3px;
  color: black;
  font-family: 'roboto';
  font-size:18px;
 }
@media  screen and (min-width:960px)  {

    .phoneDisplay {
      display: none !important;
    }

    .imgStyle {
        display: none !important;
    }
    .s2Cardcol {
      column-count: 4;
  
    }

}
@media (max-width:960px)  {

  *{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
  }
.s1Pragraph{
  display: none;
}

  .tabStyle{
    position: sticky;
  }
  .listAdress{
    display:block !important;
  }
  .advert {
    display: none;
  }
  .phoneDisplayNone {
    display: none !important;
  }

}
@media  screen and (min-width:600px)  {

  .imgStyle {
      display: none !important;
  }
  .s2Cardcol {
    column-count: 4;

  }
  .s1subPragraph{
    display: none;
  }

}

@media (max-width:800px)  {

  .s2Cardcol {
    column-count: 2;

  }
}

@media (max-width:600px)  {

  .s1subPragraph0{
    display: none;
  }

  .s2Cardcol {
    column-count: 1;

  }
  .s1title{
    font-size: small;
  }

}

@media (max-width:760px)  {

  *{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
  }
}

.hovering:hover{
   
  background: blue;
  cursor: pointer;
}

.hoveringTitle:hover{
   
  color: blue;
  cursor: pointer;
}

.listStylep{
   
  color:red,

}



/* clock application */


.clock {
  margin: 5px;
  width: 150px;
  height: 150px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 20%;
  border: 4px solid white;
  box-shadow:  -8px 8px 15px rgba(225,225,225,0.05),
       20px 20px 20px rgba(0,0,0,0.2),
       inset -8px -8px 15px rgba(225,225,225,0.05),
       inset 20px 20px 20px rgba(0,0,0,0.2);
  position: relative;
 
}
.clock::after {
  content: '';
  height: auto;
  width: auto;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 11;
}

.clock .number {
  --roation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--roation));
 
  font-size: 0.6rem;
 padding: 1px;
}

.number::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  background-color: black;
}

.clock .number1 {--roation: 30deg}
.clock .number2 {--roation: 60deg}
.clock .number3 {--roation: 90deg}
.clock .number4 {--roation: 120deg}
.clock .number5 {--roation: 150deg}
.clock .number6 {--roation: 180deg}
.clock .number7 {--roation: 210deg}
.clock .number8 {--roation: 240deg}
.clock .number9 {--roation: 270deg}
.clock .number10 {--roation: 300deg}
.clock .number11 {--roation: 330deg}

.number1 div{
  transform: rotate(-30deg);
}

.number2 div{
  transform: rotate(-60deg);
}
.number3 div{
  transform: rotate(-90deg);
}
.number4 div{
  transform: rotate(-120deg);
}
.number5 div{
  transform: rotate(-150deg);
}
.number6 div{
  transform: rotate(-180deg);
  
}
.number7 div{
  transform: rotate(-210deg);
}
.number8 div{
  transform: rotate(-240deg);
}
.number9 div{
  transform: rotate(-270deg);
}
.number10 div{
  transform: rotate(-300deg);
}
.number11 div{
  transform: rotate(-330deg);
}


.clock .hand {
  /* --roation:0; */
  position: absolute;
  bottom: 50%;
  left: 50%;
  
  border: 0.5px solid white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: black;
  transform-origin: bottom;
  z-index: 10;
}

.clock .hand.second {
  width: 4px;
  height: 45%;
  background-color: red;
}
.clock .hand.minute {
  width: 6px;
  height: 40%;
  background-color: black;
}
.clock .hand.hour {
  width: 9px;
  height: 30%;
  background-color: black;
}
